{% load static %} {% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Savour{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Glory:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/37b0d92d6a.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- Logo and navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <h1>Savour</h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_bookings' %}">My Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signout' %}">Sign Out</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'book' %}">Book A Table</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Messages -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}

    <!-- Page Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <!-- Contact -->
        <div class="container p-4">
            <section class="">
                <h4 class="mb-4">Address, Contact & Opening Hours</h4>
                <p>Address:</p>
                <p>Wallgraben 48, 21073 Hamburg</p>
                <p>Phone:</p>
                <p>+4915211109034</p>
                <p>Email:</p>
                <p>info@savour.com</p>
                <p>Open:</p>
                </p>Mon to Sun 09:30 - 20:30</p>
            </section>
        </div>
        
        <!-- Social media links -->
        <div class="container p-4 pb-0">
            <section class="">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                    href="https://www.facebook.com" role="button"><i class="fab fa-facebook-f"></i></a>
        
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="http://www.twitter.com"
                    role="button"><i class="fab fa-twitter"></i></a>
        
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                    href="http://www.instagram.com" role="button"><i class="fab fa-instagram"></i></a>
        
                <!-- Youtube -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="http://www.youtube.com"
                    role="button"><i class="fab fa-youtube"></i></a>
            </section>
        </div>
        
        <!-- Copyright -->
        <div class="container p-4 pb-0">© 2023 Savour</div>
    </footer>

    <!-- Bootstrap and JavaScript bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {% bootstrap_javascript %}
  </body>
</html>
