{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h4 class="text-center">My Bookings</h4>
  <div class="row justify-content-center">
    <div class="col-lg-9">
      {% for booking in bookings %}
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text">{{ booking.table }}</p>
          <p class="card-text">Date: {{ booking.date }}</p>
          <p class="card-text">Time: {{ booking.time }}</p>
          <p class="card-text">Guests: {{ booking.guests }}</p>
          <div class="mb-3">
            <a
              href="{% url 'update_booking' booking.id %}"
              class="btn btn-primary"
              >Update Booking</a
            >
          </div>
          <div>
            <a
              href="{% url 'cancel_booking' booking.id %}"
              class="btn btn-danger cancel-booking-button"
              >Cancel Booking</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- JS function to let a user be sure before they cancel a booking -->
<script>
  const cancelButton = document.querySelector(".cancel-booking-button");
  function confirmCancellation(e) {
    if (confirm("Are you sure you want to cancel this booking?") === false) {
      e.preventDefault();
    }
  }
  cancelButton.addEventListener("click", confirmCancellation);
</script>

{% endblock %}
