{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h4 class="text-center">Register</h4>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form method="POST">
        {% csrf_token %} {% if form.non_field_errors %}
        <div class="alert alert-danger mt-2">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="id_username"
            name="username"
            required
          />
          {% if form.username.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.username.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="id_email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="id_email"
            name="email"
            required
          />
          {% if form.email.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.email.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="id_password1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="id_password1"
            name="password1"
            required
          />
          {% if form.password1.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.password1.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="id_password2" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="id_password2"
            name="password2"
            required
          />
          {% if form.password2.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.password2.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>

<!-- JavaScript function that ensures a username has at least 6 characters -->
<script>
  const usernameInput = document.querySelector("#id_username");
  function validateUsername() {
    if (usernameInput.value.length < 6) {
      usernameInput.setCustomValidity(
        "Username must be at least 6 characters long"
      );
    } else {
      usernameInput.setCustomValidity("");
    }
  }
  usernameInput.addEventListener("input", validateUsername);
</script>

{% endblock %}
