{% extends "base.html" %} {% block content %}
<div class="container mt-4 mb-4">
  <h4 class="text-center">Sign In</h4>
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <form method="POST">
        {% csrf_token %} {% if form.non_field_errors %}
        <div class="alert alert-danger mt-2">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="id_username"
            name="username"
            required
          />
          {% if form.username.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.username.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="id_password"
            name="password"
            required
          />
          {% if form.password.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.password.errors.as_text }}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
