body {
    font-family: "Lato", "Onest", "Open Sans", "Roboto";
}

h1 {
    font-family: "Bakbak One", "Open Sans",
        "Lato",
        "Roboto";
    color: #d4390f;
    font-size: 36px;
}

h4,
h6,
a {
    font-family: "Bakbak One", "Open Sans",
        "Lato",
        "Roboto";
}